body{
  background-color: #9ccef4;
}
.SearchContainer{
  height: 3em;
  background-color: #759EDA;
  flex-grow: 1;
  flex-shrink: 1;
}
.pic1>p{
  margin-left: auto;
  margin-right: auto;
}
.SearchContainer > input{
  font-family: Raileway;
  font-size:8px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 5px;
  background-color: #759EDA;
  color:white;
  border-color:#759EDA ;
  border-top:none;
}
.SearchContainer >button{
  font-family: Raileway;
  margin-top: 8px;
  margin-bottom: 1%;
  padding: 7px;
  background-color: #5879c7;
  color:rgb(0, 0, 0);
  border:none;
  border-radius:0%;
}
.temp24{
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  justify-content: center;
}
.temp24>div{
  padding-left: 4em;
  padding-right: 2em;
  flex-grow: 1;
  flex-shrink: 1;
}
.temp24>div>p{
  padding-left: 1em;
}
.pic1>img{
  display: block;
  padding-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.pic1>p{
  text-align: center;
}
 @media all and(max-width:600px){
  .temp24{
    flex-wrap:wrap;
  }
  .temp24>div{
    flex:1 1 50%;
  }
  .SearchContainer{
    flex-wrap: wrap;
  }
}
